:root {
    --clr-primary: #074016;
    --clr-text: #f0f0f0;
  }
  
  body {
    box-sizing: border-box;
    text-align: center;
    height: 100vh;
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
  }
  
  h1, h4 {
    color: var(--clr-text);
    margin: 0 auto 1em auto;
  }
  
  input {
    display: block;
    margin: 10px auto 10px auto;
    height: 1.5em;
    width: 250px;
    font-size: 1.1em;
    font-weight: 600;
  }
  
  #result {
    color: var(--clr-text);
    font-size: 1.2em;
    margin-top: 20px;
  }

  button {
    width: 200px;
    height: 1.5em;
    font-size: 0.8em;
    font-weight: 600;
  }
  
  @keyframes grow {
    0% {
      scale: 1;
    }
    100% {
      scale: 3;
    }
  }